<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <div class="content">
      <div class="content__background"></div>
      <div class="content__icon">
        <i class="iconfont icon-weixin"></i>
        <i class="iconfont icon-facebookfacebook52"></i>
        <i class="iconfont icon-github"></i>
      </div>
      <div class="content__video">
        <video controls>
          <source src="~@/assets/medias/video.mp4" type="audio/mp4">
        </video>
      </div>
      <audio src="~@/assets/medias/有一种爱叫放手.mp3" controls="controls">
      </audio>
    </div>
  </body>
</html>
