@import '@/assets/fonts/iconfont.css';

.content {
  text-align: center;

  &__background {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background: url('~@/assets/imgs/bg.jpeg') center;
    background-size: 100% 100%;
  }

  &__icon {
    margin-top: 20px;
    margin-bottom: 20px;

    & > i {
      margin: 0 20px;
    }
  }

  &__video {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;

    & > video {
      width: 100%;
      height: 100%;
    }
  }
}
